body {
    font-family: "Roboto", "Arial", sans-serif;
}
a {
    text-decoration: none;
}
button {
    background: white;
}
table {
    border-collapse: collapse;
    background-color: white;
}
table, tr, td, th {
    border: 1px solid black;
}
.tableHeader {
    background-color: lightblue;
}
.selectedButton {
    background: lightblue;
}
